
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*{
    background-color: #eacefa;
    font-family: "Arial Black", Gadget, sans-serif;
}
.main{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
letter-spacing: 2px;
text-align: center;
word-spacing: 2px;
color: black;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 7px 2px rgba(230,204,255,0);
}
</style>
</head>
<body>

<div class="main">
  <h1>Welcome To the website User</h1>
</div>
</body>
</html>
