@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
background: #111;
background-color: antiquewhite;
  }
h1{
font-family:Khula;
font-size:4em;
color: rgb(24, 24, 23);
text-align:center;
}
h3{
font-family:Khula;
margin-top: -30px;
font-size:3em;
color:rgb(58, 58, 57);
text-align:center;
}